.breadcrumb-custom {
    font-size: rem(10px);
    letter-spacing: 1px;
    padding: rem(21px) 0 rem(18px);

    a {
        color: $gray-500;
    }
    @include media-breakpoint-down(sm) {
        overflow-x: auto;
        padding: rem(16px) 0 rem(16px) rem(16px);
        flex-wrap: nowrap;

        .breadcrumb-item:last-child {
            margin-right: rem(16px);
        }
    }
}