.order-form {
    padding: 20px 20px 0;

    .form-group {
        margin: 0 -5px 20px;

        @include media-breakpoint-down(sm) {
            margin: 0 0 20px;
        }
    }

    &__label {
        display: block;
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 1;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__field {
        border: 1px solid $silver;
        padding: 13px 15px 12px;
        height: auto;
        font-size: 16px;
        line-height: 1.25;
        background: $gray-50 !important;
        
        &:focus {
            box-shadow: none;
            outline: none;
            border-color: $silver;
        }

        @include media-breakpoint-down(sm) {
            padding: 13px 35px 12px 20px;
        }
    }

    .btn-primary:disabled {
        background: $silver;
        opacity: 1;
        border-color: $silver;
    }

    .search-select {
        @include media-breakpoint-down(sm) {
            margin: 0 -20px;
            border-radius: 0;
        }
    }

    .search-select__field {
        @include media-breakpoint-down(sm) {
            padding: 13px 35px 12px 20px;
        }
    }

    .search-select__scroll-container {
        @include media-breakpoint-down(sm) {
            height: 230px;
        }
    }

    .search-select__item {
        @include media-breakpoint-down(sm) {
            padding: 13px 20px 12px;
        }
    }
}
